{% extends "main.html" %}

<!-- Content -->
{% block content %}
<h1>OOPS! Page not found</h1>
<p>The page you are looking for doesn't exist or has been moved.</p>
<h2>What can you do?</h2>
<ul>
  <li>Start over from the <a href="/">main page</a></li>
  <li>Search this page for the topic you are looking for</li>
  <li>Use the navigation to browse this Admin Manual</li>
</ul>
<p>
  If you fell you need our help, don't hesitate to post a new topic in our
  <a href="https://forum.seatable.io" target="_blank">community forum</a>.
</p>
<img src="/404.png" />
{% endblock %}
