site_name: SeaTable Admin Manual
site_url: https://admin.seatable.io/
site_author: SeaTable GmbH
site_description: >
  Official SeaTable Admin Manual.

# Repository
repo_name: seatable/seatable-admin-docs
repo_url: https://github.com/seatable/seatable-admin-docs/

# Copyright
copyright: Copyright &copy; 2022 - 2024 SeaTable GmbH

# Configuration
theme:
  name: material
  features:
    - navigation.footer
    - navigation.tracking
    - navigation.tabs
    - navigation.sections # top-level sections are rendered as groups in the sidebar for viewports above 1220px
    - navigation.indexes # documents can be directly attached to sections
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - content.code.copy
    - content.code.annotate # offer a comfortable and friendly way to attach arbitrary content to specific sections of code
  custom_dir: overrides

  # icon & favicon
  logo: assets/SeaTable256-256.png
  favicon: assets/seatable-favicon.ico

  # custom 404.html
  static_templates:
    - 404.html

  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - git-revision-date-localized:
      enable_creation_date: true
  - redirects:
      redirect_maps:
        "changelog/changelog-for-seatable-professional-server.md": "https://seatable.io/docs/changelog/"
        "docker/Python-Runner/Deploy SeaTable Python Runner.md": "installation/components/python-pipeline.md"
        "docker/Enterprise-Edition/Deploy SeaTable-EE with Docker.md": "installation/basic-setup.md"
        "docker/Enterprise-Edition/migrate_seatable_editions.md": "upgrade/migrate-seatable-editions.md"
        "docker/Developer-Edition/Deploy SeaTable-DE with Docker.md": "installation/basic-setup.md"
        "editions.md": "introduction/editions.md"
        "installation.md": "installation/basic-setup.md"
        "config.md": "configuration/plugins.md"
        "maintain.md": "upgrade/upgrade-manual.md"
        "maintain/seatable_fsck.md": "maintenance/filesystem-check.md"
        "maintain/clean_database.md": "maintenance/clean-database.md"
        "maintain/backup_recovery.md": "maintenance/backup-recovery.md"
  - git-committers:
      repository: seatable/seatable-admin-docs
      branch: main
      enabled: !ENV ["CI", false]
      token: !ENV ["MKDOCS_GIT_COMMITTERS_APIKEY"]

hooks:
  - overrides/hooks/shortcodes.py

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/seatable/
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/r/seatable/seatable-enterprise
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/seatable/
  status:
    new: Work in progress
  analytics:
    provider: matomo
    site_id: 3
    provider_url: https://wp-stats.seatable.io/

extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/extra.js

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - footnotes
  - toc:
      permalink: true
  - codehilite:
      guess_lang: true
  - pymdownx.details # creates collapsible elements that hide their content
  - pymdownx.superfences: # allows 1) nesting of fences 2) custom fences 3) disable indented code
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.keys # make entering and styling keyboard key presses easier
  - pymdownx.tabbed: # provides a syntax to easily add tabbed Markdown content
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg # Hooks


nav:
  - Introduction:
      - index.md
      - Architecture: introduction/architecture.md
      - Security: introduction/security.md
      - Requirements: introduction/requirements.md
      - System Limitations: introduction/system-limitations.md
      - Server Editions: introduction/editions.md
      - EULA (dtable-server): introduction/dtable-server-license.md
      - Get Support: introduction/get-support.md
      - Changelog: introduction/server-changelog.md

  - Installation:
      - How to start: installation/start.md
      - Our deployment approach: installation/deployment-approach.md
      - Single-Node Installation:
          - SeaTable-Server: installation/basic-setup.md
          - Python Pipeline: installation/components/python-pipeline.md
          - n8n: installation/components/n8n.md
          - Office Editors:
              - Collabora: installation/components/collabora.md
              - OnlyOffice: installation/components/onlyoffice.md
          - Monitoring:
              - Uptime Kuma: installation/components/uptime-kuma.md
              - Zabbix: installation/components/zabbix.md
          - FAQ / Troubleshooting: installation/faq.md

      - Advanced Topics:
          - Webserver:
              - Custom Reverse Proxy: installation/advanced/custom-proxy.md
              - Custom Certificates: installation/advanced/custom-certificates.md
              - Force HTTP: installation/advanced/http-only.md
              - Additional Subdomains: installation/advanced/additional-subdomains.md
              - Air Gap Installation: installation/advanced/air-gap-installation.md
              - Security: installation/advanced/webserver-security.md
          - S3 Object Storage:
              - Configuration: installation/advanced/s3.md
              - Migration: installation/advanced/s3-migration.md
          - Python Pipeline:
              - Custom Python Runner: installation/advanced/python-pipeline-custom-python-runner.md
              - Separate Python Pipeline: installation/advanced/python-pipeline-dedicated-server.md
              - Configure Python Pipeline: installation/advanced/python-pipeline-configuration.md
              - Python Pipeline Workflow: installation/advanced/python-pipeline-workflow.md
          - MariaDB (standalone): installation/advanced/database-standalone.md
          - Seafile (external): installation/advanced/seafile.md

      - Cluster Setup:
          - SeaTable Cluster: installation/cluster/seatable-cluster.md
          - dtable-server cluster: installation/cluster/dtable-server-cluster.md
          - dtable-db (standalone): installation/cluster/dtable-db-standalone.md
          - dtable-events (standalone): installation/cluster/dtable-events-background-node.md

  - Configuration:
      - Plugins: configuration/plugins.md
      - Email Sending: configuration/sending-email.md
      - Roles and Permissions: configuration/roles-and-permissions.md
      - Universal Apps: configuration/universal-apps.md
      - Autostart: configuration/autostart.md
      - Base Rows Limit: configuration/base-rows-limit.md
      - User Hierarchy:
          - Overview: configuration/user-hierarchy/overview.md
          - Groups: configuration/user-hierarchy/groups.md
          - Teams/Organizations: configuration/user-hierarchy/teams-organizations.md
          - Departments: configuration/user-hierarchy/departments.md
      - Authentication:
          - Overview: configuration/authentication/overview.md
          - Methods:
              - Two Factor Authentication: configuration/authentication/two-factor-auth.md
              - LDAP: configuration/authentication/ldap.md
              - OAuth: configuration/authentication/oauth.md
              - SAML: configuration/authentication/saml.md
              #- SAML for teams: configuration/authentication/saml-team.md
              - JWT-Token: configuration/authentication/jwt.md
          - Switch authentication: configuration/authentication/auth-switch.md
      - Available Configuration Options:
          - Environment variables: configuration/environment-variables.md
          - Configuration files:
              - ccnet.conf: configuration/ccnet-conf.md
              - dtable-db.conf: configuration/dtable-db-conf.md
              - dtable-events.conf: configuration/dtable-events-conf.md
              - dtable_server_config.json: configuration/dtable-server-config.md
              - dtable-storage-server.conf: configuration/dtable-storage-server-conf.md
              - dtable_web_settings.py: configuration/dtable-web-settings.md
              - seafile.conf: configuration/seafile-conf.md
              - seatable-controller.conf: configuration/seatable-controller-conf.md

  - UI Customization:
      - Overview: customization/overview.md
      #- input: customization/custom-css.md
      - Site Title: customization/site-title.md
      - Logo: customization/logo.md
      - Manual Link: customization/manual-in-nav.md
      - Main Color: customization/main-color.md
      - Custom CSS: customization/custom-css.md
      - Templates: customization/templates.md
      #- E-Mail Templates: customization/email-templates.md
      - Page Templates: customization/page-templates.md

  - Upgrade:
      - How to upgrade: upgrade/upgrade-manual.md
      - Extra Upgrade Notices: upgrade/extra-upgrade-notice.md
      - Migrations:
          - Switch SeaTable Edition: upgrade/migrate-seatable-editions.md
          - Switch Installation Method (v4.3): upgrade/migrate-seatable-release.md

  - Maintenance:
      - Backup and Recovery: maintenance/backup-recovery.md
      - Clean Database: maintenance/clean-database.md
      - Clean Storage: maintenance/garbage-collector.md
      - Filesystem check: maintenance/filesystem-check.md
      - Change URL: maintenance/change-url.md
      - Password reset: maintenance/password-reset.md
      - Logging: maintenance/logs.md
      - Add custom error messages: maintenance/debugging.md
#  - Migration:
#      - Mysql: config/ccnet-conf.md
#      - Postgres: config/ccnet-conf.md
#      - Airtable: config/ccnet-conf.md
