site_name: SeaTable Admin Manual
site_author: SeaTable
docs_dir: ./manual
site_url: https://manual.seatable.io/

repo_name: seatable/seatable-admin-docs
repo_url: https://github.com/seatable/seatable-admin-docs/
edit_uri: blob/main/manual

copyright: Copyright &copy; 2020, 2021 SeaTable

theme:
  name: material
  # icon:
  logo: media/SeaTable256-256.png
  favicon: media/seatable-favicon.ico
  palette:
    primary: white
    accent:

plugins:
  - search

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/seatable/seatable-admin-docs

extra_css:
  - stylesheets/extra.css

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: true
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
      toc_depth: "1-4"
  - pymdownx.superfences

# Page tree
nav:
  - Overview: home.md
  - Setup:
    - Developer Edition: docker/Developer-Edition/Deploy SeaTable-DE with Docker.md
    - Enterprise Edition: docker/Enterprise-Edition/Deploy SeaTable-EE with Docker.md
    - Cluster: docker/Cluster/SeaTable Cluster.md
    - Python Runner:
      - Deploy: docker/Python-Runner/Deploy SeaTable Python Runner.md
      - Upgrading: docker/Python-Runner/Update SeaTable Python Runner.md
      - Customization: docker/Python-Runner/Customize SeaTable Python Runner.md
    - Migrate SeaTable DE to EE: docker/Enterprise-Edition/migrate_from_seatable_ce_server.md
  - Configuration and Customization:
    - Autostart: config/Autostart.md
    - ccnet.conf: config/ccnet-conf.md
    - seafile.conf: config/seafile-conf.md
    - dtable_web_settings.py: config/dtable_web_settings.md
    - dtable-events.conf: config/dtable-events-conf.md
    - dtable_server_config: config/dtable_server_config.md
    - seatable-controller.conf: config/seatable-controller-conf.md
    - dtable-db.conf: config/dtable_db_conf.md
    - Integrate with Seafile: config/integrate-with-seafile.md
    - Templates and manual: config/templates_and_manual.md
    - Email sending: config/sending_email.md
    - Enterprise:
      - Roles and Permissions: config/enterprise/roles_permissions.md
      - LDAP: config/enterprise/ldap.md
      - OAuth: config/enterprise/oauth.md
      - SAML: config/enterprise/saml.md
      - S3: config/enterprise/S3.md
  - Administration:
    - Account: maintain/account.md
    - Logs: maintain/logs.md
    - Backup and recovery: maintain/backup_recovery.md
    - Clean database: maintain/clean_database.md
  - Upgrade:
    - Upgrade manual: upgrade/upgrade_manual.md
    - Extra upgrade notices: upgrade/extra-upgrade-notice.md
  - ChangeLog:
    - SeaTable Developer Edition: changelog/server-changelog.md
    - SeaTable Enterprise Edition: changelog/changelog-for-seatable-professional-server.md
  - Roadmap: changelog/roadmap.md
  - System Limitations: limitations/system_limitations.md
  - dtable-server-license: dtable-server-license.md
