mkdocs-material
mkdocs-material-extensions
mkdocs-redirects
mkdocs-git-revision-date-localized-plugin
mkdocs-minify-plugin
mkdocs-exclude-search
mkdocs-git-committers-plugin-2
mkdocs-exclude-search

# Fix for broken file watching (https://github.com/mkdocs/mkdocs/issues/4032)
click==8.2.1
