.md-typeset h2:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 10%; /* Change this to whatever width you want. */
  padding-top: 6px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid #f88000; /* This creates the border. Replace black with whatever color you want. */
}

.md-typeset h2 {
  margin: 2.6em 0 0.64em;
}

.md-typeset h3 {
  margin: 2em 0 0.64em;
}

.md-typeset h4 {
  margin: 2.6em 0 0.64em;
}
